# Importar Librarias y datos

In [114]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np   
import itertools

from scipy.stats import chi2_contingency, ttest_ind
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.formula.api as smf

In [115]:
df_train = pd.read_parquet("output_04.parquet")

In [116]:
df_train.head()

,age,gender,education,marital_status,race,is_hispanic,employment_commitment,employment_stat,wage_per_hour,working_week_per_year,...,tax_status,gains,losses,stocks_status,citizenship,migration_year,country_of_birth_own,migration_code_change_in_msa,migration_code_change_in_reg,income_above_limit
0,79,1,secondary_complete,Widowed,White,All other,Not in labor force,0,0,52,...,Head of household,0,0,292,Native,95,US,?,?,0
1,65,1,secondary_complete,Widowed,White,All other,Children or Armed Forces,0,0,0,...,Single,0,0,0,Native,94,US,unchanged,unchanged,0
2,21,0,secondary_incomplete,Never married,Black,All other,Children or Armed Forces,0,500,15,...,Single,0,0,0,Native,94,US,unchanged,unchanged,0
3,2,1,child,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,0,0,0,...,Nonfiler,0,0,0,Native,94,US,unchanged,unchanged,0
4,70,0,secondary_complete,Married-civilian spouse present,White,All other,Not in labor force,0,0,0,...,Joint both 65+,0,0,0,Native,95,US,?,?,0

# **P-Valor**

In [118]:
print("\nEstadÃ­sticas descriptivas:")
print(df_train.describe())

EstadÃ­sticas descriptivas:
                 age         gender  employment_stat  wage_per_hour  \
count  209499.000000  209499.000000    209499.000000  209499.000000
mean       34.518728       0.519258         0.176760      55.433487
std        22.306738       0.499630         0.555562     276.757327
min         0.000000       0.000000         0.000000       0.000000
25%        15.000000       0.000000         0.000000       0.000000
50%        33.000000       1.000000         0.000000       0.000000
75%        50.000000       1.000000         0.000000       0.000000
max        90.000000       1.000000         2.000000    9999.000000

       working_week_per_year  occupation_code  total_employed          gains  \
count          209499.000000    209499.000000   209499.000000  209499.000000
mean               23.158850        11.321734        1.956067     435.926887
std                24.397963        14.460839        2.365154    4696.359500
min                 0.000000         0.000000        0.000000       0.000000
25%                 0.000000         0.000000        0.000000       0.000000
50%                 8.000000         0.000000        1.000000       0.000000
75%                52.000000        26.000000        4.000000       0.000000
max                52.000000        46.000000        6.000000   99999.000000

              losses  stocks_status  migration_year  income_above_limit
count  209499.000000  209499.000000   209499.000000       209499.000000
mean       36.881737     194.533420       94.499745            0.062043
std       270.383302    1956.375501        0.500001            0.241235
min         0.000000       0.000000       94.000000            0.000000
25%         0.000000       0.000000       94.000000            0.000000
50%         0.000000       0.000000       94.000000            0.000000
75%         0.000000       0.000000       95.000000            0.000000
max      4608.000000   99999.000000       95.000000            1.000000

In [119]:
###Este bloque de cÃ³digo genera las estadÃ­sticas descriptivas del conjunto de datos, tales como media, mediana, desviaciÃ³n estÃ¡ndar, y valores mÃ­nimos y mÃ¡ximos de las columnas numÃ©ricas.

##Es Ãºtil para comprender la dispersiÃ³n y distribuciÃ³n de los datos.

# IdentificaciÃ³n de columnas numÃ©ricas y categÃ³ricas

En este paso se identifican las columnas numÃ©ricas y categÃ³ricas dentro del conjunto de datos. Esto es importante para aplicar correctamente los mÃ©todos de preprocesamiento, ya que los datos numÃ©ricos y categÃ³ricos requieren tratamientos diferentes.

In [121]:
# Identificamos las columnas numÃ©ricas y categÃ³ricas
numeric_cols = ['age', 'wage_per_hour', 'working_week_per_year', 'total_employed', 'gains', 'losses', 'income_above_limit']
categorical_cols = ['gender', 'education', 'marital_status', 'race', 'is_hispanic', 
                    'employment_commitment', 'employment_stat', 'industry_code_main', 
                    'occupation_code', 'household_stat', 'tax_status', 'stocks_status', 
                    'citizenship', 'country_of_birth_own', 'migration_code_change_in_as', 
                    'migration_code_change_in_reg']

# TransformaciÃ³n de columnas numÃ©ricas y categoricas

En este paso se implementan dos transformaciones diferentes para las columnas numÃ©ricas y categÃ³ricas utilizando pipelines de scikit-learn. Estas transformaciones se aplicarÃ¡n a los datos antes de entrenar el modelo.

Para las columnas numÃ©ricas y categoricas, se define un pipeline con los siguientes pasos:

Imputer (SimpleImputer): Rellena los valores faltantes utilizando la media de cada columna numÃ©rica.

Scaler (StandardScaler): Estandariza las variables numÃ©ricas transformando sus valores para que tengan una media de 0 y una desviaciÃ³n estÃ¡ndar de 1. Esto es importante para garantizar que todas las caracterÃ­sticas numÃ©ricas estÃ©n en la misma escala y que no dominen aquellas con valores mÃ¡s altos.

Imputer (SimpleImputer): Rellena los valores faltantes utilizando la moda (el valor mÃ¡s frecuente) en cada columna categÃ³rica.

OneHotEncoder: Convierte las variables categÃ³ricas en variables dummy (0 y 1) utilizando la codificaciÃ³n One-Hot, eliminando la primera categorÃ­a con drop='first' para evitar la multicolinealidad

In [123]:
# Importar librerÃ­as necesarias
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:

# Definir columnas numÃ©ricas y categÃ³ricas

# Convertir income_above_limit a numÃ©rico antes del preprocesamiento
#df_train['income_above_limit'] = df_train['income_above_limit'].map({'Yes': 1, 'No': 0})


numeric_cols = ['age', 'wage_per_hour', 'working_week_per_year', 'total_employed', 'gains', 'losses', 'income_above_limit']
categorical_cols = ['gender', 'education', 'marital_status', 'race', 'is_hispanic', 
                    'employment_commitment', 'employment_stat', 'industry_code_main', 
                    'occupation_code', 'household_stat', 'tax_status', 'stocks_status', 
                    'citizenship', 'country_of_birth_own', 'migration_code_change_in_as', 
                    'migration_code_change_in_reg',]

# Preprocesamiento para columnas numÃ©ricas
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),  # ImputaciÃ³n con la media
    ('scaler', StandardScaler())  # Escalado estÃ¡ndar
])

# Preprocesamiento para columnas categÃ³ricas
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  # ImputaciÃ³n con el valor mÃ¡s frecuente
    ('onehot', OneHotEncoder(drop='first'))  # CodificaciÃ³n one-hot
])

# Transformador de columnas
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# ConfirmaciÃ³n de cambios
print("Lo Logramos :).")

Lo Logramos :).

In [137]:
# Ver los valores Ãºnicos de la variable
print(df_train['income_above_limit'].unique())

"""
# Mapear valores a nÃºmeros
df_train['income_above_limit'] = df_train['income_above_limit'].map({
    'Below limit': 0,
    'Above limit': 1
})
"""
# Verificar que la conversiÃ³n fue exitosa
print(df_train['income_above_limit'].dtype)
print(df_train['income_above_limit'].value_counts())

# Eliminar posibles valores NaN resultantes de la conversiÃ³n
df_train = df_train.dropna(subset=['income_above_limit'])

[0 1]
int64
income_above_limit
0    196501
1     12998
Name: count, dtype: int64

In [139]:
modelo = smf.ols(
    formula="income_above_limit ~ age + education + marital_status + employment_stat + working_week_per_year + occupation_code + is_hispanic + gender + race",
    data=df_train
).fit()

# 6. Obtener p-valores
p_values = modelo.pvalues
significant_vars = p_values[p_values < 0.05]
print(significant_vars)

Intercept                                                 0.000000e+00
education[T.child]                                        0.000000e+00
education[T.primary]                                      0.000000e+00
education[T.secondary_complete]                           0.000000e+00
education[T.secondary_incomplete]                         0.000000e+00
education[T.technical_education/university_incomplete]    0.000000e+00
education[T.university_graduate_or_higher]                0.000000e+00
marital_status[T.Married-A F spouse present]              1.650806e-02
marital_status[T.Married-civilian spouse present]         1.751532e-14
marital_status[T.Never married]                           8.657358e-21
is_hispanic[T.Central or South American]                  6.412889e-05
is_hispanic[T.Mexican (Mexicano)]                         4.858703e-04
is_hispanic[T.Mexican-American]                           1.431908e-02
is_hispanic[T.Other Spanish]                              1.430185e-02
race[T.White]                                             4.707917e-02
age                                                       1.723516e-59
employment_stat                                           1.867990e-22
working_week_per_year                                     0.000000e+00
occupation_code                                           0.000000e+00
gender                                                    0.000000e+00
dtype: float64

In [140]:
col_relevantes = modelo.pvalues[modelo.pvalues<0.05]
col_relevantes

Intercept                                                 0.000000e+00
education[T.child]                                        0.000000e+00
education[T.primary]                                      0.000000e+00
education[T.secondary_complete]                           0.000000e+00
education[T.secondary_incomplete]                         0.000000e+00
education[T.technical_education/university_incomplete]    0.000000e+00
education[T.university_graduate_or_higher]                0.000000e+00
marital_status[T.Married-A F spouse present]              1.650806e-02
marital_status[T.Married-civilian spouse present]         1.751532e-14
marital_status[T.Never married]                           8.657358e-21
is_hispanic[T.Central or South American]                  6.412889e-05
is_hispanic[T.Mexican (Mexicano)]                         4.858703e-04
is_hispanic[T.Mexican-American]                           1.431908e-02
is_hispanic[T.Other Spanish]                              1.430185e-02
race[T.White]                                             4.707917e-02
age                                                       1.723516e-59
employment_stat                                           1.867990e-22
working_week_per_year                                     0.000000e+00
occupation_code                                           0.000000e+00
gender                                                    0.000000e+00
dtype: float64

# **Conclusiones del anÃ¡lisis de los p-valores**

### La educaciÃ³n y el estado civil tienen un impacto significativo en los ingresos  
- Los coeficientes de varias categorÃ­as de educaciÃ³n, como **doctorado, maestrÃ­a, licenciatura y secundaria**, tienen p-valores extremadamente bajos (prÃ³ximos a 0).  
  Esto indica que el nivel educativo tiene una fuerte relaciÃ³n con la probabilidad de superar el lÃ­mite de ingresos.  
- El estado civil tambiÃ©n es relevante: estar **casado con cÃ³nyuge civil presente** o **nunca haberse casado** son factores significativos.  

### El gÃ©nero y la raza tambiÃ©n influyen en los ingresos  
- **Ser hombre (`gender[T.Male]`)** tiene un p-valor de **0.000000**, lo que sugiere una diferencia significativa en ingresos entre hombres y mujeres.  
- La variable **`race[T.White]`** es significativa, aunque con un p-valor mÃ¡s alto (**0.0393**), indicando que la raza puede tener una relaciÃ³n con el nivel de ingresos,  
  pero es menos determinante que otras variables como educaciÃ³n o empleo.  

###  **ConclusiÃ³n Final**  
La **educaciÃ³n**, el **estado civil**, el **gÃ©nero** y la **ocupaciÃ³n** son los principales factores asociados con ingresos elevados en este modelo.

# **Vif**

In [145]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [149]:
#columnas_numericas = df_heart.select_dtypes(include=['float64', 'int64']).columns
columnas = df_train.columns[df_train.dtypes != 'object']
# Convertir Ã­ndices a listas
columnas = columnas.tolist()
columnas

# Analizamos variables numericas del dataset
df_continuas = df_train[columnas]
df_continuas.columns

Index(['age', 'gender', 'employment_stat', 'wage_per_hour',
       'working_week_per_year', 'occupation_code', 'total_employed', 'gains',
       'losses', 'stocks_status', 'migration_year', 'income_above_limit'],
      dtype='object')

In [151]:
vif_acum = {}

for i in columnas:
   
    x = df_continuas.loc[:,df_continuas.columns != i]
    y = df_continuas.loc[:,i]

    lm = LinearRegression()
    lm.fit(x, y)
    r2 = lm.score(x, y)

    vif = (1/(1-r2))
    vif_acum[i] = vif

vif_acum

{'age': 1.0742732461465767,
 'gender': 1.0611866623393869,
 'employment_stat': 1.0918333026428886,
 'wage_per_hour': 1.0523117969479616,
 'working_week_per_year': 3.1731899737573777,
 'occupation_code': 1.903715536775807,
 'total_employed': 2.302575955716003,
 'gains': 1.0750704635161745,
 'losses': 1.034489420359212,
 'stocks_status': 1.0524702807763373,
 'migration_year': 1.0009750548293233,
 'income_above_limit': 1.2731050989006856}

## Conclusiones del AnÃ¡lisis de VIF

### No hay signos fuertes de multicolinealidad en la mayorÃ­a de las variables  
- La mayorÃ­a de los valores de **VIF** estÃ¡n por debajo de **5**, lo que indica que las variables no presentan una colinealidad significativa.  
- Variables como **age (1.06)**, **wage_per_hour (1.05)**, **gains (1.03)** y **losses (1.02)** tienen valores muy cercanos a **1**, lo que significa que prÃ¡cticamente no estÃ¡n correlacionadas con otras variables.  
- La variable **migration_year** tiene el VIF mÃ¡s bajo (**1.00**), lo que indica que no estÃ¡ influenciada por ninguna otra variable en el conjunto de datos.  

### Posible colinealidad moderada en *working_week_per_year*, *total_employed* y *occupation_code*  
- **working_week_per_year** tiene un **VIF de 3.03**, el mÃ¡s alto del conjunto, lo que sugiere que puede tener cierta correlaciÃ³n con otras variables, aunque sigue en un rango aceptable.  
- **total_employed (2.28)** y **occupation_code (1.79)** tambiÃ©n tienen valores algo elevados en comparaciÃ³n con otras variables, lo que podrÃ­a indicar que comparten informaciÃ³n con otras caracterÃ­sticas del modelo.  
- Aunque estos valores no son alarmantes, si en un anÃ¡lisis mÃ¡s profundo se detecta impacto en la interpretaciÃ³n del modelo, se podrÃ­a considerar eliminar una de estas variables o combinar informaciÃ³n redundante.